/*The pretty blog*/


body{
    
}
#container{
    
    background-color: azure;
    width: 1020px;
    margin: 0 auto;
}


#container nav{
    
   
    text-align: right;
    position: relative;
    bottom: 160px;
}

#container nav ul{
     background: url('img/nav-background.png') top right no-repeat;
    height: 70px;
    margin-top: 30px;
    
   
}
#container nav ul li{
    
    padding:30px 10px 0 0;
    display: inline-block;
}

#container nav ul li a:link{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.article{
    
    width:540px;
    margin-left: 200px;
}

.article a{
    
    text-decoration: none;
    color: #438bf7;
}
#articleImage{
    
    background: url('img/content_image.png') center center no-repeat;
    height: 230px;
    width: 530px;
}


#mainContent{
    position: relative;
    bottom: 80px;
}
#sidebar{
    
    position: absolute;
    top: 0;
    left: 760px;
    background: #333333;
    float: right;
    height: 442px;
    width: 260px;
    text-align: left;
    color: white;
    padding: 32px 0 0 26px ;
    box-sizing: border-box;
}

#sidebarCategories{
   position: relative;
    bottom: 10px;
    right: 30px;
}
#sidebar ul{
    
    list-style:none;
    
}

#sidebar ul li{
    padding-bottom: 10px;
   
}

#sidebar ul li a{
    text-decoration: none;
    color: #f0d700;
     
}

#sidebar form input{
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    
}

#sidebar form a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #333333;
    margin-left: 60px;
    margin-right: 80px;
    background: #f0d700;
    border-radius: 5px;
}

#leftbar{
    
    width: 120px;
    position: absolute;
    bottom: 250px;
    left: 65px;
    text-align: right;
}

footer{
    margin-top: 50px;
    padding: 10px;
    font-weight: normal;
    font-family: Georgia;
    color: #333333;
    position: relative;
}

footer ul{
    list-style: none;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
footer ul li{
    
    display: inline-block;
    padding: 0 10px 0 0;
    list-style: style;
}
footer ul li a{
    text-decoration: none;
    color: #333333;
}
